/*ШРИФТЫ---------------------------------------------------------------------------------------------------FONTS*/
				
@font-face {
	font-family: SF Pro Display Black;
	src: url("../font/SF-Pro-Display-Black.otf");
}
@font-face {
	font-family: SF Pro Display Light;
	src: url("../font/SF-Pro-Display-Light.otf");
}
@font-face {
	font-family: SF Pro Display Medium;
	src: url("../font/SF-Pro-Display-Medium.otf");
}
@font-face {
	font-family: SF Pro Display Regular;
	src: url("../font/SF-Pro-Display-Regular.otf");
}
@font-face {
	font-family: SF Pro Display Semibold;
	src: url("../font/SF-Pro-Display-Semibold.otf");
}
@font-face {
	font-family: SF Pro Display Thin;
	src: url("../font/SF-Pro-Display-Thin.otf");
}
@font-face {
	font-family: SF Pro Text Bold;
	src: url("../font/SF-Pro-Text-Bold.otf");
}
@font-face {
	font-family: SF Pro Text Light;
	src: url("../font/SF-Pro-Text-Light.otf");
}
@font-face {
	font-family: SF Pro Text Regular;
	src: url("../font/SF-Pro-Text-Regular.otf");
}
@font-face {
	font-family: SF Pro Text Semibold;
	src: url("../font/SF-Pro-Text-Semibold.otf");
}	
/*-------------------------------------------------------------------------------------------------------------*/
body {
	-webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 300; 
}
a {
	text-decoration: none;
	color: white; 
}
a:hover {
	text-decoration: none;
    color: white;
}
p {
	font-family: SF Pro Text Regular;
	font-size: 16px;
}

/*.bounceIn {
  animation-name: bounceIn;
}*/
/*-------------------------------------------------------------------------------------------------------------------------МЕНЮ*/
.search {
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
	height: 32px;
	background-color: #222222;
	color: white;
	font-size: 14px;
	text-align: right;
	font-family: SF Pro Text Semibold;
}
#searchplace {
	display: none;
	flex-direction: row;
	justify-content: flex-end;
	position: fixed;
	width: 100%;
	height: 32px;
	background-color: #222222;
	color: white;
	font-size: 14px;
	text-align: center;
	margin: 0 auto;
	font-family: SF Pro Text Semibold;
	transition: .3s;
}
#searchplace form{
	margin-top: 4px;
	border-radius: 10px;
}
#searchplace form button{
	border: none;
	color: white;
	background-color: #222222;

}
#searchplace form input {
	border: none;
    background-color: #222222;
    width: 20vw;
}
#searchplace form input:focus{
	color: white;
	outline:none;;
}
#searchplace form button:focus{
	color: white;
	outline:none;
}
#searchplace form button:hover{
	cursor: pointer;
	color: #afafaf;
}
#searchbutton{
	border: none;
}
.search div {
	display: inline;
    margin-top: 5px;
}
.search div:hover{
	color: #afafaf;
	cursor: pointer;
}
.search div i {
	padding-right: 15px;
	padding-left: 30px;
	font-size: 17px;
}
.search div img {
	padding-right: 15px;
	padding-left: 30px;
}
.search div img:hover{
	opacity: .6;
}
.search-gap {
	width: 80px; 
}
.navbar {
	position: static;
	background-color: #333333;
	height: 78px;
	padding: 0;
}
.navbar div {
	text-align: center;
	width: 450px;
}
.navbar-item-block{
	display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin-right: 4%;
}
.dropmenu {
	display: none;
}
.navbar-item:hover .dropmenu{
	position: absolute;
	border-radius: 3px;
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: white;
	top: 78px;
    width: 600px;
	left: -470px;
}
.device{  
    max-width: 160px;
    max-height: 218px;
    transition: all .1s ease-in-out;
    border-right: 1px solid lightgray;
}
.device img {
	left: 0;
	width: 135px;
    height: 120px;
    margin-top: 30px;
}
.device:hover{
	background-color: #269cd8;
	color: black;  
    opacity: 0.9;
    transition: .3s;
}
.navbar-item {
	position: relative;
	color: white;
	font-size: 16px;
	font-weight: 600;
	padding-top: 30px;
    height: 78px;
	font-family: SF Pro Display Semibold;
}
.navbar-item:hover{
	color: #afafaf;
	cursor: pointer;
}
.navbar-item a {
	text-decoration: none;
	color: white; 
}
.navbar-item:hover a{
	text-decoration: none;
    color: #afafaf;
}
.logo img{
	height: 65px;
    margin-left: 100px;
}
/*-------------------------------------------------------------------------------------------------------------------------ОСНОВА*/
.parallax1 {
	display: inline-block;
	width: 100%;
	height: 500px;
	color: white;
	font-size: 25px;
    background-image: url("../img/photoHeader.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: SF Pro Text Regular;
}
.prllx-p-header {
	text-align: center;
	margin-top: 120px;
	margin-bottom: 120px;
	font-size: 55px;
}
.parallax1 div {
	width: 430px;
	height: 76px;
	border: 2px solid;
    margin: 0 auto;
    transition: .3s;
}
.parallax1 div:hover{
	border: 2px solid;
	cursor: pointer;
	transform: scale(1.02);
	transition: .3s;
}
.parallax1 div p {
	padding: 17px;
	font-size: 25px;
	text-align: center;
	font-family: SF Pro Text Regular;
	transition: .3s;
}

.parallax1 div:hover p {
	transform: scale(1.2);
	transition: .3s;
	margin-bottom: 0;
}
.block-title{
	margin-top: 5%;
	text-align: center;
	font-size: 20px;
	font-family: SF Pro Display Semibold;
}
.gap{
	width: 100%;
	height: 20px;
}
.container {
    width: 100%;
    margin: 0 auto;
}

.block {
	display: inline-block;
	margin-left: 20px;
	margin-top: 20px;
	width: 130px;
	height: 130px;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	transition: .3s;
}
.block img {
	max-height: 86px;
	margin-top: 10px;
    margin-left: 32.5px;
}
.block p {
	font-family: SF Pro Text Light;
	font-size: 14px;
	text-align: center;
}
.block:hover {
	transform: scale(1.1 , 1.1);
	transition: .3s;
	cursor: pointer;
}
@media (max-width: 1199px) {
	.container {
    display: grid;
    grid-template-columns: 280px 280px;
    justify-content: center;
    grid-gap: 15px;
	}
	.block {
    margin-left: 0px;
    width: 260px;
	height: 260px;
	}
	.block img {
	max-height: 172px;
	margin-top: 20px;
    margin-left: 70px;
    margin-bottom: 10px;
}
}
.parallax2 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 300px;
	color: white;
	background-image:url("../img/параллакс 1.jpg");
	box-shadow: inset 0px 300px 0px rgba(0, 32, 53, 0.4);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
}
.box {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.parallax2 img{
	max-width: 80px;
	height: 80px;
} 
.box .p-up{
	font-family: SF Pro Display Black;
	font-size: 30px;
}
.box .p-down{
	margin-top: 30px;
	font-size: 20px;
	font-family: SF Pro Display Semibold;
}
.table-block{
	width: 98%;
	margin: 0 auto;
	background-color: #f4f4f4;
	color: #222222;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	font-size: 12px;
	font-family: SF Pro Display Regular;
	text-align: center;
}
.table-head{
	background-color: #498bc3;
	color: white;
	font-weight: bold;
	font-size: 12px;
	font-family: SF Pro Display Semibold;
}
.table-row-head{
	text-align: left;
	font-family: SF Pro Text Semibold;
	font-size: 12px;
}
.parallax3 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 300px;
	color: white;
	background-image:url("../img/параллакс 2.jpg");
	box-shadow: inset 0px 300px 0px rgba(6, 27, 40, 0.4);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
}
.parallax3 img{
	margin-top: 30px;
	max-width: 150px;
	height: 150px;
} 
.scale-img {
	transform: scale(1.27);
}
.p-p-up{
	font-family: SF Pro Display Medium;
	font-size: 20px;
}
.p-p-down{
	font-family: SF Pro Display Thin;
	font-size: 14px;
	text-align: center;
}
.container-serv-description{
	margin-top: 4%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.iphone-img{
	width: 270px;
}
.iphone-img img{
	width: inherit;
}
.vertical-gap{
	height: 500px;
	width: 4%;
}
.p-head {
	font-family: SF Pro Text Semibold;
	font-size: 16px;
}
.iphone-text{ 
	width:600px;
	height:360px;
	color: #222222;
	text-align: justify; 
}
@media (max-width: 1490px) {
.iphone-text p {
    	font-size: 14px;
    }
}
@media (max-width: 1199px) {
.iphone-text p {
    	font-size: 12px;
    }
}
.line{
	background-color: #498bc3;
	opacity: 0.6;
	width: 70%;
	height: 2px;
	margin: 0 auto;
}
.how-to-get{
	text-align: center;
}
.map-container{
	margin-top: 10px;
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	height: 400px;
}
.map{
	width: 500px;
	height: 344px;
}
.view{
	width: 500px;
	height: 344px;
}
iframe {
	width: 500px;
	height: 344px;
}
@media (max-width: 1199px) {
	.map-container{
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 10px;
		width: 100%;
		height: 700px;
	}
	.vertical-gap{
		display: none;
	}
	.map{
		width: 100%;
		height: 344px;
	}
	.view{
		padding-top: 5px;
		width: 100%;
		height: 344px;
	}
	iframe {
		width: 100%;
		height: 344px;
	}
}
.form {
	display: flex;
	justify-content: center;
	margin-top: 4%;
	margin: 0 auto;
	width: 60%;
	height: 500px;
}
.form form div span{
	color: #555555;
}
.input-area{
	border: none;
	color: #555555;
	background-color: #efefef;
	padding-left: 10px;
	margin: 15px;
	font-size: 14px;
	font-family: SF Pro Display Thin;
}
.input-area:focus{
	color: #222222;
	border: 1px solid #498bc3;
	font-family: SF Pro Display Regular;
}
.input-name{
	width: 300px;
	height: 40px;
}
.input-telephone{
	width: 300px;
	height: 40px;
}
.input-mail{
	width: 635px;
	height: 40px;
}
.input-message{
	width: 635px;
	height: 160px;
	resize: none;
}
.input-check{
	width: 100px;
	height: 40px;
}
.button{
	width: 300px;
	height: 40px;
	border: 1px solid #498bc3;
	background-color: white;
	font-size: 15px;
	font-family: SF Pro Display Light;
}
.button:hover{
	border: 2px solid #498bc3;
	font-family: SF Pro Display Regular;
}
.check-button{
	display: flex;
    justify-content: flex-end;
}
footer {
	width: 100%;
}
.footer-block{
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-top: 4%;
	background-color: #333333;
	width: 100%;
	height: 294px;
}
.footer-menu{
	display: inline-flex;
	padding: 30px;
}
/*.footer-menu-item{
	display: inline-flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
}*/
.footer-menu-item-header{
	margin-bottom: 2px;
	padding-left: 3vw;
	padding-right: 3vw;
	text-align: center;
	font-size: 16px;
	font-family: SF Pro Display Regular;
	color: #498bc3;
	cursor: pointer;
}
.footer-menu-item div {
	width: 100%;
	height: 2px;
	background-color: #333333;
	transition: 1s;
	margin-bottom: 5px;
}
.footer-menu-item:hover div {
	background-color: #498bc3;
	transition: .3s;
}
.footer-menu-item ul {
	font-family: SF Pro Display Thin;
	font-size: 14px;
	list-style: none;
	color: #ffffff;
	padding: 15px;
	padding-left: 3vw;
}
.footer-menu-item ul li:hover {
		color: #afafaf;
		cursor: pointer;
}
.footer-info{
	padding: 30px;
}
.footer-info p {
	font-family: SF Pro Display Regular;
	font-size: 16px;
	color: white;
}
.footer-info i{
	color: #498bc3;
	font-size: 20px;
	margin-right: 10px;
} 
.footer-logo{
	width: 200px;
	height: 66px;
	margin-bottom: 30px;
}
.end{
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: baseline;
	overflow: hidden;
	width: 100%;
	height: 32px;
	background-color: #222222;
}
.end p {
	margin-top: 5px;
	padding-left: 30px;
	padding-right: 30px;
	color: #dddddd;
	font-size: 12px;
	font-family: SF Pro Display Thin;
}
